.new-ticket-container{
    display: flex;
    height: fit-content;
}

.create-ticket-container{
    padding: 10px 5%;
    width: 100%;
}

.create-ticket-container h1{
    text-align: center;
    margin-bottom: 30px;
}

.form-container-top{
    display: flex;
    justify-content: space-between;
}

.form-container-top > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    flex-basis: 45%;
}

.input-container{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.input-container label{
    font-size: 20px;
}

.input-container input{
    border: 0;
    outline: 0;
    background-color: #C4C4C4A1;
    border-radius: 5px;
    height: 30px;
    width: 50%;
    padding: 10px 20px;
    box-shadow: 0px 4px #00000040;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.subject-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subject-container input{
    border: 0;
    outline: 0;
    background-color: #C4C4C4A1;
    border-radius: 5px;
    height: 30px;
    padding: 10px 20px;
    box-shadow: 0px 4px #00000040;
}

.form-container-bottom{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.form-container-bottom-left{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
}

.form-container-bottom-left label{
    margin-bottom: 5px;
}

.form-container-bottom-left input{
    border: 0;
    outline: 0;
    background-color: #C4C4C4A1;
    border-radius: 5px;
    height: 30px;
    padding: 10px 20px;
    box-shadow: 0px 4px #00000040;
    margin-bottom: 30px;
}

.form-container-bottom-right{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    display: inline-block;
}

.upload-icon {
    position: absolute;
    bottom: 25px;
    right: 10px;
    background-color: #55D6C2; 
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .upload-icon:hover {
    background-color: #4ec7c4; 
  }
  
  .upload-icon input[type="file"] {
    display: none;
  }

.form-container-bottom-right label{
    margin-bottom: 5px;
}

.form-container-bottom-right textarea{
    border: 0;
    outline: 0;
    background-color: #C4C4C4A1;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0px 4px #00000040;
    resize: none;
    width: 100%;
}

.button-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-container img{
    width: 30%;
}

.button-container button{
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #55D6C2;
    font-weight: 500;
}

.footer{
    width: 100%;
    background-color:#55D6C2 ;
}